# Created by .ignore support plugin (hsz.mobi)
.dart_tool/

.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml

.packages

blockframe-daemon.iml
blockframe.iml

log/

pubspec.lock
/.pub/
.idea/mongoSettings.xml
